# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
env/
venv/
ENV/

# Banco de dados local
*.db
*.sqlite3

# Arquivos de modelo
*.pkl
*.joblib

# Notebooks checkpoints
.ipynb_checkpoints/

# Configs do VSCode / IDE
.vscode/
.idea/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db
