# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Ambiente virtual
.venv/
venv/
ENV/
env/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dados e banco de dados

*.db
*.sqlite3

# Modelos treinados
models_store/
*.pkl
*.joblib

# Logs e caches
*.log
*.cache
*.tmp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/
# Ambiente virtual
.env
